{% load static %}
<section class="py-7" id="activities">

    <div class="container">
        <div class="row g-0">
            <div class="col-lg-4 order-1"><img class="w-100 mt-5 mt-lg-0"
                                               src="{% static 'assets/img/gallery/bungee-jumping.png' %}" height="750"
                                               alt="..."></div>
            <div class="col-lg-8">
                <div class="carousel slide" id="carouselActivity" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100">
                                <div class="col-12"><img class="w-100"
                                                         src="{% static 'assets/img/gallery/activity.png' %}"
                                                         width="383" alt="...">
                                    <div class="py-4">
                                        <h4 class="mb-2 text-1000">جو بروبرتى </h4>
                                        <h2 class="mb-3 text-primary fs-3 fs-md-6">قصتنا</h2>
                                        <p class="fw-normal mb-0 pe-lg-9">خدمات جو بروبرتى تساعدك على إتخاذ واحد من أهم
                                            القرارات المالية التي ستتخذها في حياتك وهو قرار بيع أو شراء منزلك.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row h-100">
                                <div class="col-12"><img class="w-100"
                                                         src="{% static 'assets/img/gallery/activity.png' %}"
                                                         width="383" alt="...">
                                    <div class="py-4">
                                        <h4 class="mb-2 text-1000">جو بروبرتى</h4>
                                        <h2 class="mb-3 text-primary fs-3 fs-md-6">من نحن</h2>
                                        <p class="fw-normal mb-0 pe-lg-9">خدمات جو بروبرتى تساعدك على إتخاذ واحد من أهم
                                            القرارات المالية التي ستتخذها في حياتك وهو قرار بيع أو شراء منزلك.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <div class="row h-100">
                                <div class="col-12"><img class="w-100"
                                                         src="{% static 'assets/img/gallery/activity.png' %}"
                                                         width="383" alt="...">
                                    <div class="py-4">
                                        <h4 class="mb-2 text-1000">جو بروبرتى</h4>
                                        <h2 class="mb-3 text-primary fs-3 fs-md-6">من نحن</h2>
                                        <p class="fw-normal mb-0 pe-lg-9">خدمات جو بروبرتى تساعدك على إتخاذ واحد من أهم
                                            القرارات المالية التي ستتخذها في حياتك وهو قرار بيع أو شراء منزلك.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ps-sm-5 ps-md-0 align-items-end">
                        <div class="col-4 col-sm-6 position-relative z-index-2">
                            <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                                <li class="active" data-bs-target="#carouselShare" data-bs-slide-to="0"
                                    aria-current="true"></li>
                                <li data-bs-target="#carouselShare" data-bs-slide-to="1" class=""></li>
                                <li data-bs-target="#carouselShare" data-bs-slide-to="2" class=""></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>