{% load static %}
<section class="py-0 overflow-hidden">

        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-4 col-lg-6">
              <div class="py-7"><img class="d-inline-block" src="{% static 'assets/img/gallery/logo.png' %}" width="50" alt="logo" /><span class="fw-bold fs-4 text-primary ms-2">GoProperty</span>
                <ul class="list-unstyled mt-4">
                     <li class="mb-2"><a class="text-footer fw-bold text-decoration-none" href="#!">المدونة</a></li>
                  <li class="mb-2"><a class="text-footer fw-bold text-decoration-none" href="#!">الشروط والأحكام</a></li>
                  <li class="mb-2"><a class="text-footer fw-bold text-decoration-none" href="{% url 'about-page' %}">عن جو بروبرتى</a></li>
                  <li class="mb-2"><a class="text-footer fw-bold text-decoration-none" href="{% url 'contact-page' %}">إتصل بنا </a></li>
                  <li class="mb-2"><a class="text-footer fw-bold text-decoration-none" href="#!">الأسئلة الشائعة</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-8 col-lg-6 bg-primary-gradient bg-offcanvas-right">
              <div class="p-3 py-7 p-md-8">
                <p class="text-light"><i class="fas fa-phone-alt me-3"></i><span class="text-light">+3930219390</span></p>
                <p class="text-light"><i class="fas fa-envelope me-3"></i><span class="text-light">info@goproperty.com</span></p>
                <p class="text-light"><i class="fas fa-map-marker-alt me-3"></i><span class="text-light lh-lg">القاهرة , جمهورية مصر العربية</span></p>
                <div class="mt-6"><a href="#!"> <img class="me-3" src="{% static 'assets/img/icons/facebook.svg' %}" alt="..." /></a><a href="#!"> <img class="me-3" src="{% static 'assets/img/icons/twitter.svg' %}" alt="..." /></a><a href="#!"> <img class="me-3" src="{% static 'assets/img/icons/instagram.svg' %}" alt="..." /></a></div>
              </div>
            </div>
          </div>
        </div>

      </section>